BuberDinner.Api/obj/Debug/net7.0/BuberDinner.Api.assets.cache
BuberDinner.Api/obj/Debug/net7.0/BuberDinner.Api.assets.cache
BuberDinner.Api/obj/Debug/net7.0/BuberDinner.Api.csproj.AssemblyReference.cache
BuberDinner.Api/obj/Debug/net7.0/BuberDinner.Api.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Application/obj/Debug/net7.0/BuberDinner.Application.assets.cache
BuberDinner.Application/obj/Debug/net7.0/BuberDinner.Application.csproj.AssemblyReference.cache
BuberDinner.Application/obj/Debug/net7.0/BuberDinner.Application.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Contracts/obj/Debug/net7.0/BuberDinner.Contracts.assets.cache
BuberDinner.Contracts/obj/Debug/net7.0/BuberDinner.Contracts.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Domain/obj/Debug/net7.0/BuberDinner.Domain.assets.cache
BuberDinner.Domain/obj/Debug/net7.0/BuberDinner.Domain.GeneratedMSBuildEditorConfig.editorconfig
BuberDinner.Infrastructure/obj/Debug/net7.0/BuberDinner.Infrastructure.assets.cache
BuberDinner.Infrastructure/obj/Debug/net7.0/BuberDinner.Infrastructure.csproj.AssemblyReference.cache
BuberDinner.Infrastructure/obj/Debug/net7.0/BuberDinner.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
